*{
    margin:0;
    padding:0;
    list-style: none;
}

@font-face {
    font-family: 'iconfont';  /* project id 571134 */
    src: url('//at.alicdn.com/t/font_571134_n7ogno7wpoz2gldi.eot');
    src: url('//at.alicdn.com/t/font_571134_n7ogno7wpoz2gldi.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_571134_n7ogno7wpoz2gldi.woff') format('woff'),
    url('//at.alicdn.com/t/font_571134_n7ogno7wpoz2gldi.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_571134_n7ogno7wpoz2gldi.svg#iconfont') format('svg');
}

i{
    font-style: normal;
}

a{
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*header开始*/
header{
    width: 100%;
    height: 0.9rem;
    position: fixed;
    top:0;
    left: 0;
    background: #fff;
    z-index: 100;
}
header > a{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}
.searchBox{
    width: 5.96rem;
    height: 0.66rem;
    position: relative;
}
.searchBox > input{
    width: 5.96rem;
    height: 0.66rem;
    box-sizing: border-box;
    border: 2px solid #6d6d6d;
    border-radius: 30px;
    outline: none;
    font-size: 0.24rem;
    color: #919191;
    padding-left: 0.62rem;
    position: absolute;
    left: 0;
    top:0;
}
.searchBox > label{
    font-size: 0.24rem;
    color: #919191;
    position: absolute;
    top:0.18rem;
    left: 0.62rem;
}
.searchIcon{
    font-size: 0.31rem;
    color: #c9c9c9;
    font-family: 'iconfont';
    position: absolute;
    left: 0.2rem;
    top:0.2rem;
}
.flicking{
    width: 0.7rem;
    height: 0.66rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.flickingIcon{
    font-family: 'iconfont';
    font-size: 0.37rem;
    color: #6d6d6d;
}
.flickingText{
    font-size: 0.16rem;
    color: #6d6d6d;
}
/*header结束*/

/*banner开始*/
.banner{
    width: 100%;
    height: 10.17rem;
    overflow: hidden;
    padding-top: 0.9rem;
    box-sizing: border-box;
}
.bannerTitle{
    width: 100%;
    height: 1.26rem;
    margin-top: 0.64rem;
    padding-left: 0.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.bannerTitle h3{
    margin: 0;
    padding: 0;
    font-size: 0.55rem;
    color: #6d6d6d;
    line-height: 1;
}
.bannerTitle h4{
    margin: 0;
    padding: 0;
    font-size: 0.31rem;
    color: #484848;
    line-height: 1;
}
.bannerImg{
    width: 100%;
    height: 7.29rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    box-sizing: border-box;
}
.bannerImg > img{
    display: block;
    width: 100%;
}
/*banner结束*/

/*向导推荐开始*/
.guide{
    width: 100%;
    padding: 0.11rem 0.4rem;
    box-sizing: border-box;
}
.guideTitle{
    width: 100%;
    height: 0.4rem;
}
.guideTitle > h5{
    font-size: 0.4rem;
    color: #6d6d6d;
    padding: 0;
    margin: 0;
    font-weight: 500;
}
.guideList{
    padding-bottom: 1.09rem;
}
.guideList li{
    padding-top: 0.7rem;
}
.guideList > li > a.guideListBox{
    display: block;
    width: 100%;
    height: 100%;
}
.guideImg{
    width: 100%;
    position: relative;
    border-radius: 0.1rem;
}
.guideAd{
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 0.6rem;
    border-radius: 0 0 0.1rem 0.1rem;
    display: flex;
    align-items: center;
    padding-left: 0.13rem;
    box-sizing: border-box;
}
.guideImg > img{
    display: block;
    width: 100%;
    border-radius: 0.1rem;
}
.font17{
    font-size: 0.17rem;
    color: #fff;
    margin-right: 0.08rem;
}
.font23{
    font-size: 0.23rem;
    color: #fff;
    margin-right: 0.08rem;
}
.font19{
    margin-right: 0.08rem;
     font-size: 0.19rem;
     color: #fff;
 }
.font27{
    font-size: 0.27rem;
    margin-right: 0.08rem;
    color: #fff;
}
.guideLine{
    margin-right: 0.08rem;
    width: 0.02rem;
    height: 0.29rem;
    background: #fff;
}
.guideNameBox{
    width: 100%;
    height: 0.64rem;
    padding-top: 0.35rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.guideName{
    font-size: 0.27rem;
    color: #484848;
}
.guideSite{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1.45rem;
}
.guideSiteIcon{
    font-size: 0.2rem;
    color: #77c0cd;
    font-family: iconfont;
}
.guideSite span{
    font-size: 0.24rem;
    color: #484848;
}
.guideScore{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 1.65rem;
}
.guideJob{
    font-size: 0.24rem;
    color: #484848;
}
.guideScoreIcon{
    font-size: 0.22rem;
    color: #ffc24d;
    font-family: iconfont;
}
.guideScore span{
    font-size: 0.24rem;
    color: #484848;
}
.guideTagsBox{
    width: 100%;
    padding-top: 0.27rem;
    box-sizing: border-box;
    display: flex;
}
.guideTags{
    display: flex;
    margin-right: 0.05rem;
}
.guideTagsText{
    font-size: 0.2rem;
    color: #4d4d4d;
}
.guideTagsIcon{
    font-size: 0.2rem;
    color: #4d4d4d;
    font-family: iconfont;
}
/*向导推荐结束*/

/*footer开始*/
footer{
    width: 100%;
    height: 1.09rem;
    background: #fff;
    padding:0.2rem 0.4rem 0;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
}
.footerBox{
    display: flex;
    justify-content: space-between;
}
.footerBox > li{
    width: 0.98rem;
    height: 0.88rem;
}
.footerBox > li > a{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.footerIcon{
    font-size: 0.43rem;
    color: #484848;
    font-family: iconfont;
}
.footerBox > li > a > h5{
    font-size: 0.22rem;
    color: #6d6d6d;
}
a.active > .footerIcon{
    color: #80c4d0;
}
a.active > h5.active{
    color: #80c4d0;
}
/*footer结束*/
